<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lagoinha Promissão - Devocional : <%= devocional.page.title %></title>

    <base href="<%= baseHref %>" />

    <!-- Bootstrap -->
    <link href="assets/boostrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!--  Css Personalizado  -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/violetstyle.css" rel="stylesheet">
    <link href="css/font/fontello.css" rel="stylesheet">
    <link href="css/media-queries.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%- // include('comum/favicon') -%>

</head>

<body>
    <!--  Menu -->
    <%- include('comum/menu') -%>

    <div class="devocional-item-main">
        <section class="generic service animated fadeInUp delay3">
            <div class="container">
                <%=  //JSON.stringify(devos) %>
                <!-- title -->
                <div class="row text-center title">
                    <div class="col-sm-12">
                        <h2> <%= devocional.page.title %> </h2>
                        <span class="dotts"> . . . . . . </span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
  
                        <div class="card dev-card-item">
                            <figure figure class="figure" <%= 'style=background-color:#' + devocional.page.main_color %>>

                                <img src="<%=  devocional.page.image  %> " class="figure-img img-fluid"
                                    alt="<%=  devocional.page.title %>"
                                    style="width: 400px; display: flex; margin: 0 auto;">
                            </figure>
                            <div class="card-body">
                                <h2> <%=  devocional.page.title %> </h2>
                                <span> Publicado em:
                                    <%=   moment( devocional.published_at ).format('DD/MM/YYYY - h:mm') %>
                                </span>

                                <%- (devocional.page.text ) %>
                            </div>

                            <div class="card-footer bg-transparent animation delay4">
                                <div class="d-flex flex-row  justify-content-end">
                                    <div class="p-2">
                                        <div class="dev-calendar">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <div class="p-2">
                                        <div class="dev-published_at">
                                            <%=   moment( devocional.published_at ).format('DD/MM/YYYY - h:mm') %>
                                        </div>
                                    </div>
                                </div>



                            </div>


                        </div> 

                    </div>

                </div>
            </div>

        </section>


    </div>

    <!-- Footer -->
    <%- include('comum/footer') -%>


    <a href="#" class="scrollup animated bounceInUp"> </a>

    <%- include('comum/includeJs') -%>

    <!-- Script Principal  -->
    <script src="js/main.js"></script>
    <script>
        home.selectNav('devocionais');
    </script>

</body>

</html>