<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%-  include('comum/metatags') -%>
    <title>Lagoinha Promissão - Devocionais</title>

    <base href="<%=  baseHref %>">

    <!-- Css -->
    <%-  include('comum/includeCss') -%>

    <%-  include('comum/favicon') -%>

</head>

<body>
    <!--  Menu -->
    <%- include('comum/menu') -%>

    <div class="margin-top-bottom">
        <section class="generic service animated fadeInUp delay3">
            <div class="container">
                <!-- title -->
                <div class="row text-center title">
                    <div class="col-sm-12">
                        <h2> Estudos GC </h2>
                        <blockquote class="blockquote text-right">
                            <p class="mb-0 text-descricao-paginas">Os GCs são o coração da igreja, em que cada um tem a
                                oportunidade de conhecer pessoas, criar vínculos, servir, ter comunhão e se edificar.
                                São muitos os benefícios que um GC pode proporcionar à vida de uma pessoa e à igreja.
                                GCs são pequenos grupos de Crescimentos, aonde nós nos reunimos para estudar e meditar
                                em comunhão a palavra de Deus.</p>
                            <!-- <span>Provérbios <cite>3:9-10</cite></span> -->
                        </blockquote>
                        <span class="dotts"> . . . . . . </span>
                    </div>
                </div>
                <div class="row">

                    <%  for (estudocg of estudosgc){  %>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 card-estugogc-devocional">

                        <div class="card-group">
                            <a href="<%= '/estudo-gc/'+ estudocg.id + '/' + estudocg.slug %>">
                                <div class="card card-item-devocional-gc">
                                    <img class="card-img-top" src="<%= estudocg.page.app_image %> "
                                        alt="<%= estudocg.page.title %> ">
                                    <div class="card-body">
                                        <h3 class="card-title dev-title"> <%= estudocg.page.title %> </h3>
                                        <p class="card-text dev-summary"> <%= estudocg.page.summary %>...</p>

                                    </div>
                                    <div class="card-footer bg-transparent animation delay4">
                                        <div class="d-flex flex-row  justify-content-end">
                                            <div class="p-2">
                                                <div class="dev-calendar">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="p-2">
                                                <div class="dev-published_at">
                                                    <%=  moment( estudocg.published_at ).format('DD/MM/YYYY - h:mm') %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- fim do if -->
                    </div>
                    <%   }  %>

                </div>
            </div>

        </section>
    </div>

    <!-- Footer -->
    <%- include('comum/footer') -%>

    <a href="#" class="scrollup animated bounceInUp"> </a>

    <%- include('comum/includeJs') -%>
    <!-- Script Principal  -->
    <script src="js/main.js"></script>
    <script>
        home.selectNav('estudos-gc');
    </script>

</body>

</html>