<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-  include('comum/metatags') -%>

  <base href="<%= // baseHref %>">
  <!-- Css -->
  <%-  include('comum/includeCss') -%>

  <%-  include('comum/favicon') -%>

</head>

<body class="home">
  <!--  Menu -->
  <%- include('comum/menu') -%>

  <!-- Slider -->
  <%- include('home/slideHome') -%>

  <!-- Sobre -->
  <%- include('home/sobre') -%>

  <!-- Videos Recentes -->
  <%- include('home/homeVideosRecentes') -%>

  <!-- Nossos Pastores -->
  <%- include('home/pastores') -%>

  <!-- Instagram -->
  <%- include('home/instagram') -%>

  <!-- Midias Sociais -->
  <%- include('home/midias') -%>

  <!-- Contato -->
  <%- include('home/contatoFooter') -%>

  <!-- Footer -->
  <%- include('comum/footer') -%>

  <a href="#" class="scrollup animated bounceInUp"> </a>

  <%- include('comum/includeJs') -%>

  <!-- Script Principal  -->
  <script src="js/main.js"></script>

  <!-- Instagram Confi e Plugin jQuery  -->
  <script src="plugins/instagram/js/jquery.instagramFeed.min.js"></script>
  <!-- Config para Instagram Igreja Lagoinha promissao -->
  <script src="js/instagramConfigIblp.js"></script>
  <!-- Config para Instagram Legacy promissao -->
  <script src="js/instagramConfigLegacy.js"></script>

</body>

</html>