<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lagoinha Promissão - Videos</title>

  <base href="<%=  baseHref %>">
  
  <!-- Css -->
  <%-  include('comum/includeCss') -%>

  <%- include('comum/favicon') -%>

</head>

<body>
  <!--  Menu -->
  <%- include('comum/menu') -%>

 <div class="video-main">
  <%- include('comum/videosPlaylists') -%>
 </div>

  <!-- Footer -->
  <%- include('comum/footer') -%>

  <a href="#" class="scrollup animated bounceInUp"> </a>

  <%- include('comum/includeJs') -%>

  <!-- Script Principal  -->
  <script src="js/main.js"></script>
  <script>
      home.selectNav('videos');
  </script>

</body>

</html>