<% for (channel of channels){ %>

<div class="channel">
        <div class="img-channel"><img class="mg-fluid rounded-circle"
                        src="<%- channel.snippet.thumbnails.default.url %>">
        </div>
        <div class="title-channel">
                <h2><%= channel.snippet.title %></h2>
        </div>

</div>

<h3>Vídeos recentes</h3>
<div class="row">
        <% for (recent of channel.recents){ %>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="groups" style="padding: 10px 15px 10px 15px;">
                        <a href="https://www.youtube.com/watch?v=<%= recent.id.videoId %>">
                                <img class="mg-fluid" style="width: 300px;"
                                        src="<%- recent.snippet.thumbnails.medium.url %>">
                                <div class="">
                                        <h4><%= recent.snippet.title %></h2>
                                </div>
                        </a>
                </div>
        </div>
        <% } %>
</div>
<% } %>